@font-face {
  font-family: Gil;
  src: url(../public/fonts/Inter-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: Gil;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}
input[type="text"],input[type="password"],input[type="number"]{
  border-radius: 4px;
  width: 100%;
  height: 35px;
  border: 1px solid blueviolet;
  margin-bottom: 15px;
  font-family: Gil;
  padding: 25px 15px;
  box-sizing: border-box;
  /* background-color: whitesmoke; */
}
select{
  border-radius: 4px;
  width: 100%;
  height: 50px;
  border: 1px solid blueviolet;
  margin-bottom: 15px;
  font-family: Gil;
  padding: 10px 15px;
  box-sizing: border-box;
}
input[type="submit"]{
  border-radius: 4px;
  width: 100%;
  height: 50px;
  border: 1px solid whitesmoke;
  background-color: blueviolet;
  color: white;
  font-family: Gil;
  padding: 5px 20px;
  box-sizing: border-box;
  margin: 10px 0;
  font-size: 1em;
}
.form{
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
}
form{
  margin: auto;
  width: 100%;
  /* background-color: white; */
  border-radius: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  z-index: 1002;
  position: relative;
}
form h3{
  text-align: center;
  width: 100%;
  font-size: 1.6em;
  margin: 0 0 20px 0;
}
.topbar{
  display: grid;
  height: 100vh;
  width: 100%;
  background-color: rgb(82, 215, 255);
 }
 .topbar img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: .9;
 }
 .formtop h1{
  margin-top: 10px;
  /* background-color: red; */
 }
 .formtop h2{
  margin-top: 10px;
  font-size: 1em;
  border-left: 5px solid blueviolet;
  padding: 0 5px;
  /* background-color: red; */
 }
 .formtop h3{
  margin-top: 25px;
  text-align: center;
  font-size: 1.6em;
  /* background-color: red; */
 }
 .formtop{
  width: 100%;
  /* height: 100px; */
  margin-bottom: 30px;
  display: grid;
 }
 .formtop .img{
  /* display: grid; */
  margin: 0 auto;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
 }
 .formtop img{
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 form div p{
  margin-bottom: 10px;
 }
 .errors{
  width: 100%;
  background-color: #fee1e1;
  border: 1px solid #ff3535;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: .8em;
  border-radius: 5px;
  margin-bottom: 10px;
}
.errors p{
  margin: 2px 0;
}
.success{
  width: 100%;
  background-color: #e8fee1;
  border: 1px solid #35ffab;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: .8em;
  border-radius: 5px;
  margin-bottom: 10px;
}
.success p{
  margin: 2px 0;
}
.statement{
  /* text-align: justify; */
  line-height: 25px;
  margin: 20px 0;
}
.statement p{
  margin-bottom: 10px;
}
.speakers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
.speakers .wrap{
  width: 100%;
  margin-bottom: 20px;
}
.speakers .wraps{
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}
.wrap .img{
  justify-self: center;
  margin-bottom: 0;
  margin: 0 auto;
}
.wrap .img, .wrap .img img{
  border-radius: 50%;
}
.wrap .img img{
  object-fit: cover;
}
.speakers p{
  text-align: center;
  font-size: .8em;
}
.wraps p{
  text-align: left;
  font-size: .8em;
}
.wraps h4{
  text-align: left !important;
  margin: 5px 0;
  font-size: .95em;
}
.speakers h4{
  text-align: center;
  margin: 5px 0;
  font-size: .95em;
}
.rsvp{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: blueviolet;
  color: white;
}
.type{
  border-left: 5px solid blueviolet;
  width: 120px;
  display: grid;
  /* justify-content: center; */
  padding-left: 30px;
  align-items: center;
  height: 30px;
  /* border-radius: 40px; */
}

.date{
  border-left: 5px solid blueviolet;
  width: 200px;
  display: grid;
  /* justify-content: center; */
  margin: 20px 0;
  align-items: center;
  height: 30px;
  padding-left: 30px;

  /* border-radius: 40px; */
}
.floater{
    display: none;
  }
@media only screen and (max-width: 600px) {
  
 .floater{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height:170px;
  z-index: 1000;
  display: block;
  background-color: blueviolet;
 }
 .floater img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .2;
 }
  .topbar{
    display: none;
  }
  form{
    grid-template-columns: 1fr;
  }
  .form{
    padding: 20px;
    width: 100vw;
    height: 100vh;
    /* margin: 10px auto; */
    overflow-y: auto;
  }
  .speakers{
    grid-template-columns: 1fr;
  }
  .speakers .wrap{
    width: 70%;
    margin:20px auto;
  }
  .formtop h1, .formtop h2{
    color: white;
    z-index: 1003;
   }
   .formtop h1{
    margin-bottom: 20px;
   }
   .formtop h2{
    border-left: 5px solid white;
   }
}